{% extends "base.html" %}
{% block content %}

    <h1>Welcome to Code Social!</h1>
    <h2>The best community for all things on Code!</h2>
    <h2>Login or Sign-up for free to get started!</h2>


    <h4>Code Social is a full-featured social blogging platform built with Django and Bootstrap</h4>
    <h4>Users can register, create and join groups, publish blog posts</h4>
    <h4>Think of it as a lightweight mix of Reddit, Discord, and a personal blog</h4>
    <h4>All powered by Python and Django!</h4>


{% endblock %}
