{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>You are now logged in!</h1>
    <hr>
    <h2> Welcome to Code Social</h2>
    <h4>Code Social is a full-featured social blogging platform built with Django and Bootstrap</h4>
    <h4>Users can register, create and join groups, publish blog posts</h4>
    <h4>Think of it as a lightweight mix of Reddit, Discord, and a personal blog</h4>
    <h4>All powered by Python and Django!</h4>
  <h2><a href="{% url 'groups:all'%}">Go to Groups</a></h2>


</div>




{% endblock %}




Think of it as a lightweight mix of Reddit, Discord, and a personal blog — all powered by Python and Django!

